@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "garamond";
  src: url("./assets/fonts/Garamond_Condensed_Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alpina";
  src: url("./assets/fonts/GT-Alpina/GT-Alpina-Typewriter-Regular-Trial.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "alpina";
  src: url("./assets/fonts/GT-Alpina/GT-Alpina-Typewriter-Light-Trial.woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "alpina";
  src: url("./assets/fonts/GT-Alpina/GT-Alpina-Typewriter-Medium-Trial.woff2");
  font-weight: 500;
  font-style: normal;
}